// =========
// VARIABLES
// =========

// Sizes
$tiny: 0.14286rem
$tiny-2x: 0.28571rem

// Colors
$dark-gray: #333
$medium-gray: #666
$nav-bg: rgba(255, 255, 255, 0.93)

// Fonts
$play: "Play", sans-serif
$goudy: "Sorts Mill Goudy", serif
$helvetica: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif


// ============
// PLACEHOLDERS
// ============

%webkit-transition-fast
  -webkit-transition: 0.3s
  transition: 0.3s


// ======
// MIXINS
// ======

=webkit-transform-origin($x, $y)
  -webkit-transform-origin: $x $y
  -ms-transform-origin: $x $y
  transform-origin: $x $y

=webkit-transform-rotate($deg)
  -webkit-transform: rotate3d(0, 0, 1, $deg)
  transform: rotate3d(0, 0, 1, $deg)

=navicon-lines($x)
  display: inline-block
  width: 2rem
  height: $tiny-2x
  background: $medium-gray
  border-radius: $tiny
  position: absolute
  left: 0
  content: ''
  @extend %webkit-transition-fast
  +webkit-transform-origin($tiny, center)
  top: $x

=box-sizing($type)
  -moz-box-sizing: $type
  box-sizing: $type

=webkit-transform($axis, $dimension)
  -webkit-transform: translate#{$axis}($dimension)
  transform: translate#{$axis}($dimension)


// ==========================
// TYPOGRAPHY AND MAIN LAYOUT
// ==========================

*
  &:before,
  &:after
    +box-sizing(inherit)

html
  +box-sizing(border-box)
  height: 100%

  &.pinned
    overflow: hidden

body
  height: auto

html,
body
  margin: 0
  padding: 0

a
  color: #fff
  text-decoration: none

h1
  margin-top: 0
  padding-top: 21px
  font-size: 3em
  line-height: 1.8
  text-transform: uppercase

h2
  margin-top: 0
  padding-top: 21px
  font-family: $play

p
  margin-bottom: 0
  padding-bottom: 10px
  font-size: 1em
  line-height: 2

body
  
  font-weight: 200
  font-smoothing: antialiased

  &:before
    content: ''
    display: block
    width: 100%
    height: 100%
    position: fixed
    +webkit-transform(Z, 0)
    z-index: -1
    // background: url(../images/bg-salinas.jpg) no-repeat center center fixed
    background: linear-gradient(45deg, black, white)
    background-size: cover
    -webkit-filter: sepia(0.5)
    filter: sepia(0.5)
    opacity: 0.5

nav i
  color: #666


// ===========
// MOBILE MENU
// ===========

[data-navicon="button"]
  display: inline-block
  margin: 0
  border: none
  cursor: pointer
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

  > *
    display: block

  &:focus
    outline: none

.navicon
  padding: 1rem 0.5rem
  @extend %webkit-transition-fast
  background: transparent

  .navicon__lines
    display: inline-block
    width: 2rem
    height: $tiny-2x
    background: $medium-gray
    border-radius: $tiny
    @extend %webkit-transition-fast
    position: relative

    &:before
      +navicon-lines(0.5rem)

    &:after
      +navicon-lines(-0.5rem)

.is--closed .navicon__lines
  -webkit-transform: scale3d(0.8, 0.8, 0.8)
  transform: scale3d(0.8, 0.8, 0.8)

.navicon-x.is--closed .navicon__lines
  background: transparent

  &:before, 
  &:after
    +webkit-transform-origin(50%, 50%)
    top: 0
    width: 2rem

  &:before
    +webkit-transform-rotate(405deg)

  &:after
    +webkit-transform-rotate(-405deg)


// ======
// HEADER
// ======

.grid
  max-width: 1040px
  margin: 0 auto
  padding: 0 5%

.banner
  height: 100%
  width: 100%
  position: absolute
  top: 0
  max-height: 56px
  overflow: hidden
  z-index: 999
  background: none
  @extend %webkit-transition-fast

  &.is-open
    max-height: 100%
    position: fixed
    top: 0
    overflow: scroll
    background: $nav-bg
    opacity: 1

.hero
  display: table
  width: 100%
  height: 100%
  position: relative
  text-align: center
  min-height: 100vh
  letter-spacing: 2px
  color: $dark-gray

  .hero__title 
    display: table-cell
    height: 100%
    width: 100%
    margin: 0
    padding: 0
    vertical-align: middle
    font-size: 3em
    line-height: 1.3
    font-family: $play

  .hero__tagline
    display: table-row

.logo
  display: block
  -webkit-flex: 1
  -ms-flex: 1
  flex: 1
  margin-top: 0
  width: 50px
  line-height: 1

.my-logo
  img
    height: 40px
    width: 40px
    margin-top: 8px
    -webkit-transition: -webkit-transform .3s ease-in-out
    transition: transform .3s ease-in-out

    &:hover
      -webkit-transform: rotate(360deg)
      transform: rotate(360deg)

nav
  font-family: $play
  a
    color: $medium-gray
    font-size: 2em
    text-transform: uppercase
  .fa
    font-size: 2em

  .nav__list
    list-style: none
    padding-left: 0

    .nav__list-item
      line-height: 2

.icon-menu
  cursor: pointer
  position: absolute
  top: 0
  right: 22px

.is-sticky
  position: fixed
  top: 0
  background: $nav-bg
  opacity: 1

.mouse
  display: block
  margin: 0 auto
  width: 26px
  height: 48px
  border-radius: 12px
  background: white
  box-shadow: 0 1px 2px rgba(0, 0, 0, 1)
  border: 2px solid white
  position: absolute
  bottom: 40px
  position: absolute
  left: 51%
  margin-left: -26px

  img
    margin-top: 14px
    width: 9px
    height: auto
    opacity: 0.15

.mouse__wheel
  display: block
  margin: 6px auto
  width: 2px
  height: 2px
  border-radius: 4px
  background: $dark-gray
  border: 1px solid transparent
  -webkit-animation-duration: 1s
  animation-duration: 1s
  -webkit-animation-fill-mode: both
  animation-fill-mode: both
  -webkit-animation-iteration-count: infinite
  animation-iteration-count: infinite
  -webkit-animation-name: scroll
  animation-name: scroll


@-webkit-keyframes scroll
  0%
    opacity: 1
    +webkit-transform(Y, 0)
  100%
    opacity: 0
    +webkit-transform(Y, 14px)

@keyframes scroll
  0%
    opacity: 1
    +webkit-transform(Y, 0)
  100%
    opacity: 0
    +webkit-transform(Y, 14px)

.section
  padding-top: 56px

  &:nth-child(odd)
    background: #333
    color: #ccc
    @include display(flex)
    text-align: justify
    height: 100vh

  &:nth-child(even)
    background: #ccc
    color: #333
    @include display(flex)
    text-align: justify
    height: 100vh


// ===========
// FULL SCREEN
// ===========

@media only screen and (min-width: 766px)
  
  %webkit-align
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    -webkit-align-items: center
    -ms-flex-align: center
    align-items: center

  .banner
    height: auto

    .grid
      @extend %webkit-align

  .my-logo
    img
      margin-top: 0

  .hero
    @extend %webkit-align
    -webkit-justify-content: center
    -ms-flex-pack: center
    justify-content: center

    .hero__title
      display: block
      height: auto
      width: auto

    .hero__tagline
      display: block

  nav
    a
      font-size: 12px

    .fa
      font-size: 12px

    .active
      color: $medium-gray
      border-bottom: 1px solid $medium-gray
      transition: all 100ms 100ms linear
  
  .nav__list-item
    display: inline-block
    margin-left: 35px

  .icon-menu
    display: none


// =========
// PARTICLES
// =========

canvas
  position: absolute
  top: 0


// =================
// ANIMATED-HEADLINE
// =================

.title-animation
  font-size: 1em !important