// =============================================================================
// VARIABLES
// =========

// Sizes
$tiny: 0.14286rem
$tiny-2x: 0.28571rem

// Colors
$white: #fff
$black: #000
$light: #c0c2c3
$x-light-gray: #ccc
$dark-gray: #2d3539
$medium-gray: #666
$darker-gray: #333
$nav-bg: rgba(255, 255, 255, 0.93)

// Fonts
$play: "Play", sans-serif
$goudy: "Sorts Mill Goudy", serif
$helvetica: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif


// =============================================================================
// PLACEHOLDERS
// ============

%webkit-transition-fast
  -webkit-transition: 0.3s
  transition: 0.3s

%headers
  margin-top: 0
  padding-top: 21px
  font-family: $play
  text-align: center
  text-transform: uppercase


// =============================================================================
// MIXINS
// ======

=webkit-transform-origin($x, $y)
  -webkit-transform-origin: $x $y
  -ms-transform-origin: $x $y
  transform-origin: $x $y

=webkit-transform-rotate($deg)
  -webkit-transform: rotate3d(0, 0, 1, $deg)
  transform: rotate3d(0, 0, 1, $deg)

=navicon-lines($x)
  display: inline-block
  width: 2rem
  height: $tiny-2x
  background: $medium-gray
  border-radius: $tiny
  position: absolute
  left: 0
  content: ''
  @extend %webkit-transition-fast
  +webkit-transform-origin($tiny, center)
  top: $x

=box-sizing($type)
  -moz-box-sizing: $type
  box-sizing: $type

=webkit-transform($axis, $dimension)
  -webkit-transform: translate#{$axis}($dimension)
  transform: translate#{$axis}($dimension)


// =============================================================================
// TYPOGRAPHY AND MAIN LAYOUT
// ==========================

*
  &:before,
  &:after
    +box-sizing(inherit)

html
  +box-sizing(border-box)
  height: 100%
  &.pinned
    overflow: hidden

body
  height: auto

html,
body
  margin: 0
  padding: 0

a
  color: $white
  text-decoration: none

h1
  @extend %headers

h2
  @extend %headers
  margin-bottom: 0

h3
  font-size: 1.5em
  font-family: $play

p
  margin-bottom: 0
  padding-bottom: 10px
  font-size: 1em
  line-height: 2

.header
  @include outer-container
  padding-top: 56px
  color: $white
  position: relative

.sub-header-container
  overflow: hidden
  text-align: center
  color: $white
  .sub-header
    display: inline-block
    padding: 0 15px
    position: relative
    &:before,
    &:after
      background: $light
      content: ""
      display: block
      height: 2px
      position: absolute
      top: 50%
      width: 20%
    &:before
      right: 100%
    &:after
      left: 100%

body
  font-weight: 200
  font-smoothing: antialiased

nav i
  color: $medium-gray


// =============================================================================
// MOBILE
// ======

// --------
// Nav Icon
// --------

[data-navicon="button"]
  display: inline-block
  margin: 0
  border: none
  cursor: pointer
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  > *
    display: block
  &:focus
    outline: none

.navicon
  padding: 1rem 0.5rem
  @extend %webkit-transition-fast
  background: transparent
  .navicon__lines
    display: inline-block
    width: 2rem
    height: $tiny-2x
    background: $medium-gray
    border-radius: $tiny
    @extend %webkit-transition-fast
    position: relative
    &:before
      +navicon-lines(0.5rem)
    &:after
      +navicon-lines(-0.5rem)

.is--closed .navicon__lines
  -webkit-transform: scale3d(0.8, 0.8, 0.8)
  transform: scale3d(0.8, 0.8, 0.8)

.navicon-x.is--closed .navicon__lines
  background: transparent
  &:before, 
  &:after
    +webkit-transform-origin(50%, 50%)
    top: 0
    width: 2rem
  &:before
    +webkit-transform-rotate(45deg)
  &:after
    +webkit-transform-rotate(-45deg)


// ----
// HERO
// ----

.grid
  max-width: 1040px
  margin: 0 auto

.banner
  height: 100%
  width: 100%
  position: absolute
  top: 0
  max-height: 56px
  overflow: hidden
  z-index: 999
  background: none
  @extend %webkit-transition-fast
  &.is-open
    max-height: 100%
    position: fixed
    top: 0
    overflow: scroll
    background: $nav-bg
    opacity: 1

.hero
  background: linear-gradient(45deg, black, white)
  background: linear-gradient(45deg, black, white)
  -webkit-filter: sepia(0.5)
  filter: sepia(0.5)
  opacity: 0.5
  display: table
  width: 100%
  height: 100%
  position: relative
  text-align: center
  min-height: 100vh
  letter-spacing: 2px
  color: $black
  .hero__title 
    display: table-cell
    height: 100%
    width: 100%
    margin: 0
    padding: 0
    vertical-align: middle
    font-size: 3em
    line-height: 1.3
    font-family: $play
  .hero__tagline
    display: table-row


// ----------
// Navigation
// ----------

.logo
  display: block
  -webkit-flex: 1
  -ms-flex: 1
  flex: 1
  margin-top: 0
  width: 50px
  line-height: 1

nav
  font-family: $play
  padding-left: 25px
  a
    color: $medium-gray
    font-size: 2em
    text-transform: uppercase
  .fa
    font-size: 2em
    padding-right: 0.5em
  .nav__list
    list-style: none
    padding-left: 0
    .nav__list-item
      line-height: 2.5
      list-style: none
      border: none
      background: transparent
      display: inherit

.icon-heroica
  color: $medium-gray
  font-size: 40px
  margin-top: 12px
  margin-left: 25px

.icon-menu
  cursor: pointer
  position: absolute
  top: 0
  right: 22px

.is-sticky
  position: fixed
  top: 0
  background: $nav-bg
  opacity: 1

.mouse
  display: block
  margin: 0 auto
  width: 26px
  height: 48px
  border-radius: 12px
  background: white
  box-shadow: 0 1px 2px rgba(0, 0, 0, 1)
  border: 2px solid white
  position: absolute
  bottom: 40px
  position: absolute
  left: 51%
  margin-left: -26px
  img
    margin-top: 14px
    width: 9px
    height: auto
    opacity: 0.15

.mouse__wheel
  display: block
  margin: 6px auto
  width: 2px
  height: 2px
  border-radius: 4px
  background: $dark-gray
  border: 1px solid transparent
  -webkit-animation-duration: 1s
  animation-duration: 1s
  -webkit-animation-fill-mode: both
  animation-fill-mode: both
  -webkit-animation-iteration-count: infinite
  animation-iteration-count: infinite
  -webkit-animation-name: scroll
  animation-name: scroll

@-webkit-keyframes scroll
  0%
    opacity: 1
    +webkit-transform(Y, 0)
  100%
    opacity: 0
    +webkit-transform(Y, 14px)

@keyframes scroll
  0%
    opacity: 1
    +webkit-transform(Y, 0)
  100%
    opacity: 0
    +webkit-transform(Y, 14px)

.section
  &:nth-child(odd)
    background: $dark-gray
    color: $x-light-gray
    text-align: justify
  &:nth-child(even)
    background: $x-light-gray
    color: $dark-gray
    text-align: justify


// =============================================================================
// FULL SCREEN
// ===========

@media only screen and (min-width: 770px)
  
  %webkit-align
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    -webkit-align-items: center
    -ms-flex-align: center
    align-items: center
  
  .banner
    height: auto
    .grid
      @extend %webkit-align

  .my-logo
    img
      margin-top: 0

  .hero
    @extend %webkit-align
    -webkit-justify-content: center
    -ms-flex-pack: center
    justify-content: center
    .hero__title
      display: block
      height: auto
      width: auto
    .hero__tagline
      display: block

  nav
    ul 
      margin-top: 0
    a
      font-size: 12px
    .fa
      font-size: 12px
    .nav__list
      list-style: none
      padding-left: 0
      padding-top: 10px
      .nav__list-item
        line-height: 2
        list-style: none
        display: inline
        margin-left: 35px
        margin-top: 0

  .icon-heroica
    color: $medium-gray
    font-size: 40px
    margin-top: 0
    margin-left: 16px

  .icon-menu
    display: none


// =============================================================================
// ABOUT
// =====

.about
  @include outer-container
  padding: 2em 0 3em 0
  .info
    @include span-columns(12)
    text-align: center
    padding: 1em 0 1em 0

@media only screen and (min-width: 766px)
  .about
    @include outer-container
    padding: 2em 0 2.5em 0
    .info
      @include span-columns(4)
      text-align: center


// =============================================================================
// SERVICES
// ========

.services
  @include outer-container
  padding: 2em 0 3em 0
  .service
    @include span-columns(12)
    text-align: center
    padding: 1em 0 1em 0
    color: $white
    position: relative

.image-holder
  margin: 0
  padding: 0

.parallax-section
  color: $light
  left: 0
  right: 0
  top: 0
  bottom: 0
  margin: 0 auto
  width: 100%
  height: 100%
  overflow: auto

@media only screen and (min-width: 766px)
  .services
    @include outer-container
    padding: 2em 0 2.5em 0
    .service
      @include span-columns(3)
      text-align: center
      color: $white
      position: relative


// =============================================================================
// SKILLS
// ======

#slick
  @include outer-container
  padding-bottom: 2em

#progress-circle
  padding-bottom: 2em
  padding-top: 2em

.slick-slide
  padding-top: 1em
  img
    display: block
    background: $white
    border-radius: 5px
    padding: 20px
    height: 220px
    width: 220px 
    margin: 0 auto
    opacity: 1
    &:hover
      opacity: 0.6
      transition: 0.2s
  h4
    text-align: center


// =============================================================================
// PARTICLES
// =========

canvas
  position: absolute
  top: 0


// =============================================================================
// ANIMATED-HEADLINE
// =================

.title-animation
  font-size: 1em !important


// =============================================================================
// PROGRESS-CIRCLE
// ===============

@-webkit-keyframes rotate
  from
    -webkit-transform: rotate(0deg)
  to
    -webkit-transform: rotate(360deg)

@-moz-keyframes rotate
  from
    -moz-transform: rotate(0deg)
  to
    -moz-transform: rotate(360deg)

@-o-keyframes rotate
  from
    -o-transform: rotate(0deg)
  to
    -o-transform: rotate(360deg)

@keyframes rotate
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)

%progress-circle-container
  position: relative
  height: 230px
  width: 230px
  margin: 35px auto 0

%progress-circle-outer
  background-color: $medium-gray
  background-repeat: repeat-x
  background-image: -moz-linear-gradient(0deg, $darker-gray, $medium-gray)
  background-image: -webkit-linear-gradient(0deg, $darker-gray, $medium-gray)
  background-image: -o-linear-gradient(0deg, $darker-gray, $medium-gray)
  background-image: linear-gradient(0deg, $darker-gray, $medium-gray)
  width: 230px
  height: 230px
  position: absolute
  -webkit-animation-play-state: paused
  -moz-animation-play-state: paused
  -o-animation-play-state: paused
  animation-play-state: paused
  -webkit-animation: rotate 2.2s infinite linear
  -moz-animation: rotate 2.2s infinite linear
  -o-animation: rotate 2.2s infinite linear
  animation: rotate 2.2s infinite linear
  -webkit-border-radius: 200px
  -moz-border-radius: 200px
  border-radius: 200px
  &.animate
    -webkit-animation-play-state: running
    -moz-animation-play-state: running
    -o-animation-play-state: running
    animation-play-state: running

=progress-circle-inner($number, $color)
  height: 170px
  width: 170px
  margin: 0 auto
  position: absolute
  left: 30px
  top: 30px
  padding-top: 8px
  padding-left: 4px
  -webkit-border-radius: 200px
  -moz-border-radius: 200px
  border-radius: 200px
  background-color: #ebeae5
  -webkit-box-shadow: inset 0 2px 1px $light, inset 0 -1px 1px rgba(0, 0, 0, 0.08), inset 0 -3px 1px rgba(0, 0, 0, 0.09), 0 2px 2px rgba(0, 0, 0, 0.3)
  -moz-box-shadow: inset 0 2px 1px $light, inset 0 -1px 1px rgba(0, 0, 0, 0.08), inset 0 -3px 1px rgba(0, 0, 0, 0.09), 0 2px 2px rgba(0, 0, 0, 0.3)
  box-shadow: inset 0 2px 1px $light, inset 0 -1px 1px rgba(0, 0, 0, 0.08), inset 0 -3px 1px rgba(0, 0, 0, 0.09), 0 2px 2px rgba(0, 0, 0, 0.3)
  text-align: center
  .number-#{$number}, .unit
    padding-top: 8px
    line-height: 165px
    color: $color
    font-size: 74px
    font-weight: normal
    text-shadow: 0 -1px 1px $medium-gray, 0 1px 1px $light
  .number-#{$number}
    position: relative
    left: 3px
  .unit
    font-size: 18px
    text-shadow: 0 1px 1px white
    position: relative
    left: -2px

#skills-progress
  @include outer-container

  .skills-progress
    @include span-columns(12)
    .progress-circle-container-1
      @include outer-container
      @extend %progress-circle-container
      .progress-circle-outer-1
        @extend %progress-circle-outer
      .progress-circle-inner-1
        +progress-circle-inner(1, #AE1000)
    .skills-titles
      text-align: center
      padding-top: 1em

  .skills-progress
    @include span-columns(12)
    .progress-circle-container-2
      @include outer-container
      @extend %progress-circle-container
      .progress-circle-outer-2
        @extend %progress-circle-outer
      .progress-circle-inner-2
        +progress-circle-inner(2, #D6BA32)
    .skills-titles
      text-align: center
      padding-top: 1em

  .skills-progress
    @include span-columns(12)
    .progress-circle-container-3
      @include outer-container
      @extend %progress-circle-container
      .progress-circle-outer-3
        @extend %progress-circle-outer
      .progress-circle-inner-3
        +progress-circle-inner(3, #E44D26)
    .skills-titles
      text-align: center
      padding-top: 1em

  .skills-progress
    @include span-columns(12)
    .progress-circle-container-4
      @include outer-container
      @extend %progress-circle-container
      .progress-circle-outer-4
        @extend %progress-circle-outer
      .progress-circle-inner-4
        +progress-circle-inner(4, #0170BA)
    .skills-titles
      text-align: center
      padding-top: 1em


@media only screen and (min-width: 766px)

  %progress-circle-container-full
    position: relative
    height: 230px
    width: 230px
    margin: 35px auto 0

  %progress-circle-outer-full
    background-color: $medium-gray
    background-repeat: repeat-x
    background-image: -moz-linear-gradient(0deg, $darker-gray, $medium-gray)
    background-image: -webkit-linear-gradient(0deg, $darker-gray, $medium-gray)
    background-image: -o-linear-gradient(0deg, $darker-gray, $medium-gray)
    background-image: linear-gradient(0deg, $darker-gray, $medium-gray)
    width: 230px
    height: 230px
    position: absolute
    -webkit-animation-play-state: paused
    -moz-animation-play-state: paused
    -o-animation-play-state: paused
    animation-play-state: paused
    -webkit-animation: rotate 2.2s infinite linear
    -moz-animation: rotate 2.2s infinite linear
    -o-animation: rotate 2.2s infinite linear
    animation: rotate 2.2s infinite linear
    -webkit-border-radius: 200px
    -moz-border-radius: 200px
    border-radius: 200px
    &.animate
      -webkit-animation-play-state: running
      -moz-animation-play-state: running
      -o-animation-play-state: running
      animation-play-state: running

  =progress-circle-inner($number, $color)
    height: 170px
    width: 170px
    margin: 0 auto
    position: absolute
    left: 30px
    top: 30px
    padding-top: 8px
    padding-left: 4px
    -webkit-border-radius: 200px
    -moz-border-radius: 200px
    border-radius: 200px
    background-color: #ebeae5
    -webkit-box-shadow: inset 0 2px 1px $light, inset 0 -1px 1px rgba(0, 0, 0, 0.08), inset 0 -3px 1px rgba(0, 0, 0, 0.09), 0 2px 2px rgba(0, 0, 0, 0.3)
    -moz-box-shadow: inset 0 2px 1px $light, inset 0 -1px 1px rgba(0, 0, 0, 0.08), inset 0 -3px 1px rgba(0, 0, 0, 0.09), 0 2px 2px rgba(0, 0, 0, 0.3)
    box-shadow: inset 0 2px 1px $light, inset 0 -1px 1px rgba(0, 0, 0, 0.08), inset 0 -3px 1px rgba(0, 0, 0, 0.09), 0 2px 2px rgba(0, 0, 0, 0.3)
    text-align: center
    .number-#{$number}, .unit
      padding-top: 8px
      line-height: 165px
      color: $color
      font-size: 74px
      font-weight: normal
      text-shadow: 0 -1px 1px $medium-gray, 0 1px 1px $light
    .number-#{$number}
      position: relative
      left: 3px
    .unit
      font-size: 18px
      text-shadow: 0 1px 1px white
      position: relative
      left: -2px

  #skills-progress
    @include outer-container

    .skills-progress
      @include span-columns(3)
      .progress-circle-container-1
        @include outer-container
        @extend %progress-circle-container-full
        .progress-circle-outer-1
          @extend %progress-circle-outer-full
        .progress-circle-inner-1
          +progress-circle-inner(1, #AE1000)
      .skills-titles
        text-align: center
        padding-top: 1em

    .skills-progress
      @include span-columns(3)
      .progress-circle-container-2
        @include outer-container
        @extend %progress-circle-container-full
        .progress-circle-outer-2
          @extend %progress-circle-outer-full
        .progress-circle-inner-2
          +progress-circle-inner(2, #D6BA32)
      .skills-titles
        text-align: center
        padding-top: 1em

    .skills-progress
      @include span-columns(3)
      .progress-circle-container-3
        @include outer-container
        @extend %progress-circle-container-full
        .progress-circle-outer-3
          @extend %progress-circle-outer-full
        .progress-circle-inner-3
          +progress-circle-inner(3, #E44D26)
      .skills-titles
        text-align: center
        padding-top: 1em

    .skills-progress
      @include span-columns(3)
      .progress-circle-container-4
        @include outer-container
        @extend %progress-circle-container-full
        .progress-circle-outer-4
          @extend %progress-circle-outer-full
        .progress-circle-inner-4
          +progress-circle-inner(4, #0170BA)
      .skills-titles
        text-align: center
        padding-top: 1em