!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", http: {equiv: "X-UA-Compatible"}}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %link{:rel => "stylesheet", :href => "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"}/
    / %link{:rel => "stylesheet", :href => "//fonts.googleapis.com/css?family=Play:400,700"}/
    %title= current_page.data.title || "Dr. Jorge Polanco"
    = stylesheet_link_tag "application"

  %body{class: page_classes}
    = yield
    = javascript_include_tag "https://code.jquery.com/jquery-2.1.1.min.js", "application"
