.header.c
  %h2
    %a.text{:href => "#"}
      Who I am
.sub-header-container
  %h4.sub-header
    Open Communication
    %br/
    Clear Goals
    %br/
    Solid Commitment
.about.wow.bounceInDown
  .info
    %i.fa.fa-flag.fa-5x
    %h4 Dominican
  .info
    %i.fa.fa-briefcase.fa-5x
    %h4 Freelancer
  .info
    %i.fa.fa-globe.fa-5x
    %h4 English / Spanish / German
%hr/
.about.wow.bounceInUp
  .info
    %h3 Who I am
    %i.fa.fa-child.fa-5x
    %p Learner, Polyglot, Fond of Animals
  .info
    %h3 What I do
    %i.fa.fa-laptop.fa-5x
    %p Contribute to shape the web
  .info
    %h3 How I work
    %i.fa.fa-magic.fa-5x
    %p Dedicated, focused, results oriented