- photos = "assets/images/photos/"

.img-holder{"data-height" => "720", 
            "data-image" => "#{photos}big/in-hawk.jpg", 
            "data-image-mobile" => "#{photos}background/in-hawk-square.jpg", 
            "data-width" => "1280"}
  .parallax-section#quote
    %h2.quote
      "It's better to be
      %br/ 
      a motivated fool
      %br/ 
      than a purposeless genius"