#contact-button
  %a.contact-me{href: "mailto:drjorgepolanco@gmail.com?subject=Hello!%20From%20your%20Website!"}
    %i.fa.fa-paper-plane.fw &nbsp&nbspMail Me
.sub-header-container#contact-message
  %h4.sub-header
    I will be happy
    %br/
    to hear from you.
#contact-social
  .icon.wow.flip
    %a{href: "https://github.com/drjorgepolanco", target: "_blank"}
      %i.fa.fa-github-square.fa-5x
  .icon.wow.flip
    %a{href: "https://twitter.com/drjorgepolanco", target: "_blank"}
      %i.fa.fa-twitter-square.fa-5x
  .icon.wow.flip
    %a{href: "https://www.linkedin.com/in/drjorgepolanco", target: "_blank"}
      %i.fa.fa-linkedin-square.fa-5x
  .icon.wow.flip
    %a{href: "https://www.facebook.com/dr.jorgepolanco", target: "_blank"}
      %i.fa.fa-facebook-square.fa-5x
  .icon.wow.flip
    %a{href: "https://plus.google.com/+JorgePolanco_js/posts", target: "_blank"}
      %i.fa.fa-google-plus-square.fa-5x
  .icon.wow.flip
    %a{href: "http://drjorgepolanco.wordpress.com/", target: "_blank"}
      %i.fa.fa-rss-square.fa-5x
#footer
  %p 
    Copyright © 2015 Dr. Jorge Polanco. 
    %br/
    All rights reserved.







