.header.c
  %h2
    %a.text{:href => "#"}
      EXPERIENCE
.sub-header-container
  %h4.sub-header
    Watching Colored Text
    %br/
    Slaughtering Bugs
    %br/
    Overcoming Frustration
#work
  .work
    .work-logo
      %a{:href => "http://www.bakeryinteractive.com", :target => "_blank"}
        %img.wow.fadeInLeft(src="assets/images/photos/bakery.png")/
    .work-info.wow.fadeInRight
      .info.title
        %a{:href => "http://www.bakeryinteractive.com", :target => "_blank"}
          %h2 Bakery Interactive
        %h3 Front-end Developer (Volunteer)
        %h4 Austin, TX
      .info
        %h4 Tools
        %p HTML5, CSS3, CoffeeScript, AngularJS, Jekyll, Grunt.
      .info
        %h4 Duties
        %ul
          %li 
            Contribute to launch 
            %a{:href => "http://valentines.bakeryinteractive.com/", :target => "_blank"}
              'Chinsuko Poetry Generator' 
            a Valentine's Day App that allow users to send haikus to their loving ones.
          %li
            Maintain and update main site: 
            %a{:href => "http://www.bakeryinteractive.com", :target => "_blank"}
              Bakery Interactive
      .info.date
        %h4 Date:
        %p February 2014 - March 2014
  .work
    .work-logo
      %a{:href => "http://www.makersquare.com/", :target => "_blank"}
        %img.wow.fadeInRight(src="assets/images/photos/makersquare.png")/
    .work-info.wow.fadeInLeft
      .info.title
        %a{:href => "http://www.makersquare.com/", :target => "_blank"}
          %h2 MakerSquare
        %h3 Ruby on Rails & JavaScript
        %h4 Austin, TX
        %h5 A Software Engineering Immersion School for people who love programming
      .info#coursework
        %h3 Coursework
        .coursework
          %h4 Front-End
          %p HTML5, CSS3, JavaScript, jQuery.
        .coursework
          %h4 Back-End
          %p Ruby, Ruby on Rails, Sinatra, APIs.
        .coursework
          %h4 General
          %p Data Structures, Git, Dev Tools.
      .info.date
        %h4 Date:
        %p November 2013 - February 2014
  .work
    .work-logo
      %img.wow.fadeInLeft(src="assets/images/photos/steindam-works.png")/
    .work-info.wow.fadeInRight
      .info.title
        %h2 Steindam Works
        %h3 Web Developer
        %h4 Santo Domingo, Dominican Rep.
      .info
        %h4 Tools
        %p HTML, CSS, Joomla, Wordpress, Adobe Fireworks & Adobe Photoshop.
      .info
        %h4 Duties
        %ul
          %li 
            Provide interactive solutions for people and businesses.
      .info.date
        %h4 Date:
        %p January 2007 - March 2012
  .work
    .work-logo
      %a{:href => "http://www.barna.edu.do/", :target => "_blank"}
        %img.wow.fadeInRight(src="assets/images/photos/barna.png")/
    .work-info.wow.fadeInLeft
      .info.title
        %a{:href => "http://www.barna.edu.do/", :target => "_blank"}
          %h2 Barna
        %h3 MBA - Marketing
        %h4 Santo Doming, Dominican Rep.
        %h5 The First Business School of the Caribbean
      .info
        %h4 Technical Accomplishment
        %ul
          %li 
            Build and launch an online platform where the cohort could host provided materials, create discussions and help each other with the MBA program.
      .info.date
        %h4 Date:
        %p September 2008 - February 2010



  /   %li.work
  /     %figure
  /       %img.wow.fadeInRight(src="assets/images/photos/barna.png")/
  /       %figcaption.wow.fadeInLeft
  /         .info.name
  /           %a{:href => "http://www.barna.edu.do/"}
  /             %h3 Barna Business School
  /           %h4 Santo Domingo, Dominican Republic
  /           %h5 The first School of Business in the Caribbean
  /         .info
  /           %h4 MBA - Marketing
  /         .info
  /           .info
  /           %ul
  /             %li Build and launch 'Directivo Emprendedor' an online platform where the cohort could host provided materials, create discussions and help each other with the MBA program.
  /         .info
  /           .label Date
  /           .value September 2008 - February 2010