.header.c
  %h2
    %a.text{:href => "#"}
      EXPERIENCE
.sub-header-container
  %h4.sub-header
    Watching Color Text
    %br/
    Killing bugs
    %br/
    Overcoming Frustration
.experience
  %ul.work
    %li
      %figure
        %a{:href => "http://www.bakeryinteractive.com", :target => "_blank"}
          %img.wow.fadeInLeft(src="assets/images/photos/bakery.png")/
        %figcaption.wow.fadeInRight
          .info.name
            %a{:href => "http://www.bakeryinteractive.com", :target => "_blank"}
              %h3 Bakery Interactive
            %h4 Austin, TX
          .info
            .label Role
            .value Volunteer Front-end Developer
          .info
            .label Tools
            .value HTML5, CSS3, CoffeeScript, AngularJS, Jekyll, Grunt.
          .info
            %ul
              %li 
                Contribute to launch 
                %a{:href => "http://valentines.bakeryinteractive.com/", :target => "_blank"}
                  'Chinsuko Poetry Generator' 
                an App featured on Valentine's day that allow users to send haikus to their loving ones.                           
              %li 
                Maintain and update main site: 
                %a{:href => "http://www.bakeryinteractive.com", :target => "_blank"}
                  Bakery Interactive
          .info
            .label Date
            .value February 2014 - March 2014
    %li
      %figure
        %a{:href => "http://www.makersquare.com/"}
          %img.wow.fadeInRight(src="assets/images/photos/makersquare.png")/
        %figcaption.wow.fadeInLeft
          .info.name
            %a{:href => "http://www.makersquare.com/"}
              %h3 MakerSquare
            %h4 Austin, TX
            %h5 A Software Engineering Immersion School for people who love programming
          .info
            %h4 Ruby on Rails & JavaScript
          .info
            .label Tools
            .value HTML5, CSS3, JavaScript, Ruby, Ruby on Rails, Sinatra, Riot.js, Backbone.js, APIs, JSON, Algorithms, AJAX
          .info
            .label Date
            .value November 2013 - February 2014
    %li
      %figure
        %img.wow.fadeInLeft(src="assets/images/photos/steindam-works.png")/
        %figcaption.wow.fadeInRight
          .info.name
            %a{:href => "http://www.bakeryinteractive.com", :target => "_blank"}
              %h3 Steindam Works
            %h4 Santo Domingo, Dominican Republic
          .info
            .label Role
            .value Web Developer
          .info
            .label Tools
            .value HTML, CSS, CMS (Wordpress, Joomla), Adobe Photoshop, Adobe Fireworks
          .info
            %ul
              %li Provide interactive solutions for people and businesses.                           
          .info
            .label Date
            .value January 2007 - March 2012
    %li
      %figure
        %img.wow.fadeInRight(src="assets/images/photos/barna.png")/
        %figcaption.wow.fadeInLeft
          .info.name
            %a{:href => "http://www.barna.edu.do/"}
              %h3 Barna Business School
            %h4 Santo Domingo, Dominican Republic
            %h5 The first School of Business in the Caribbean
          .info
            %h4 MBA - Marketing
          .info
            .info
            %ul
              %li Build and launch 'Directivo Emprendedor' an online platform where the cohort could host provided materials, create discussions and help each other with the MBA program.
          .info
            .label Date
            .value September 2008 - February 2010