#particles-js
  = partial "layouts/header"
  #hero.hero
    %h1.hero__title.wow.rollIn Dr Jorge Polanco
    %p.title-animation.hero__tagline.cd-headline.letters.type
      %span.cd-words-wrapper.waiting
        %b.hero__tagline.is-visible Full Stack Web Developer
        %b JavaScript
        %b Ruby on Rails
        %b Solid, cutting-edge fundamentals
        %b jQuery
        %b Responsive Design & UX

    .mouse.wow.bounceInUp{"aria-hidden" => "true"}
      %span.mouse__wheel
      %img{alt: "the trademark of apple inc.", 
           src: "assets/images/logos/small/apple.png"}