#particles-js
  = partial "layouts/header"
  #hero.hero
    %h1.hero__title Dr Jorge Polanco
    %p.title-animation.hero__tagline.cd-headline.letters.type
      %span.cd-words-wrapper.waiting
        %b.hero__tagline.is-visible Full Stack Web Developer
        %b JavaScript
        %b Solid, cutting-edge fundamentals
        %b jQuery
        %b Responsive Design & UX
        %b Ruby on Rails

    .mouse{"aria-hidden" => "true"}
      %span.mouse__wheel
      %img{:alt => "the trademark of apple inc.", 
           :src => "assets/images/logos/apple.png"}