.header.c
  %h2
    %a.text{:href => "#"}
      PORTFOLIO
.sub-header-container
  %h4.sub-header
    Solid
    %br/
    Cutting-edge
    %br/
    Fundamentals
#project
  .project
    .project-image
      %a{:href => "#"}
        %img{:src => "assets/images/photos/heroica-square.jpg", :alt => "My Personal Website"}/
    .project-button
      %h3 Heroica
      %a.more{:href => "#"}
        More
    .project-info
      %span.cancel
        %i.fa.fa-times-circle.fa-lg
      %h2 Heroica
      %h4 My Personal Website
      %p Built with Proteus - Middleman using the latest front-end technologies: Haml, Sass, CoffeeScript and multiple JavaScript libraries.
      %br/
      %p.repo
        %a{:href => "https://github.com/drjorgepolanco/portfolio", :target => "_blank"} 
          %i.fa.fa-github.fa-lg
          &nbspRepo
      %p.live
        %a{:href => "http://www.drjorgepolanco.com", :target => "_blank"} 
          %i.fa.fa-link.fa-lg
          &nbspLive
