.header.c
  %h2
    %a.text{:href => "#"}
      PORTFOLIO
.sub-header-container
  %h4.sub-header
    Solid
    %br/
    Cutting-edge
    %br/
    Fundamentals
#project.wow.bounceInLeft
  .project
    .project-image
      %a{:href => "#"}
        %img{:src => "assets/images/photos/heroica-square.jpg", :alt => "My Personal Website"}/
    .project-button
      %h3 Heroica
      %a.more{:href => "#"}
        More
    .project-info
      %span.cancel
        %i.fa.fa-times-circle.fa-lg
      %h2 Heroica
      %h4 My Personal Website
      %p Haml, Sass, CoffeeScript & jQuery.
      %br/
      %p.repo
        %a{:href => "https://github.com/drjorgepolanco/portfolio", :target => "_blank"} 
          %i.fa.fa-github.fa-lg
          &nbspRepo
      %p.live
        %a{:href => "#"} 
          %i.fa.fa-link.fa-lg
          &nbspLive
  .project.wow.bounceInDown
    .project-image
      %a{:href => "http://talentcrop.herokuapp.com/", :target => "_blank"}
        %img{:src => "assets/images/photos/talentcrop-square.jpg", :alt => "TalentCrop"}/
    .project-button
      %h3 TalentCrop
      %a.more{:href => "#"}
        More
    .project-info
      %span.cancel
        %i.fa.fa-times-circle.fa-lg
      %h2 TalentCrop
      %h4 Photo-Sharing Social Network
      %p Rails 4, RSpec, HTML5 & CSS3.
      %br/
      %p.repo
        %a{:href => "https://github.com/drjorgepolanco/contest", :target => "_blank"} 
          %i.fa.fa-github.fa-lg
          &nbspRepo
      %p.live
        %a{:href => "http://talentcrop.herokuapp.com/", :target => "_blank"} 
          %i.fa.fa-link.fa-lg
          &nbspLive
  .project.wow.bounceInRight
    .project-image
      %a{:href => "http://drjorgepolanco.com/secret_diary/", :target => "_blank"}
        %img{:src => "assets/images/photos/secret-diary-square.jpg", :alt => "Secret Diary"}/
    .project-button
      %h3 Secret Diary
      %a.more{:href => "#"}
        More
    .project-info
      %span.cancel
        %i.fa.fa-times-circle.fa-lg
      %h2 Secret Diary
      %h4 Online Personal Diary
      %p PHP, HTML5, CSS3.
      %br/
      %p.repo
        %a{:href => "https://github.com/drjorgepolanco/web_dev_course/tree/master/my_websites/mysql/secret_diary", :target => "_blank"} 
          %i.fa.fa-github.fa-lg
          &nbspRepo
      %p.live
        %a{:href => "http://drjorgepolanco.com/secret_diary/", :target => "_blank"} 
          %i.fa.fa-link.fa-lg
          &nbspLive
  .project.wow.bounceInLeft
    .project-image
      %a{:href => "http://drjorgepolanco.com/js_apps/music-videos/", :target => "_blank"}
        %img{:src => "assets/images/photos/music-videos-square.jpg", :alt => "Music Videos"}/
    .project-button
      %h3 Playlist Manager
      %a.more{:href => "#"}
        More
    .project-info
      %span.cancel
        %i.fa.fa-times-circle.fa-lg
      %h2 Playlist Manager
      %h4 Music Videos Playlist Manager
      %p JavaScript, jQuery, Riot.js, HTML5 & CSS3.
      %br/
      %p.repo
        %a{:href => "https://github.com/drjorgepolanco/mks/tree/master/immersive/javascript/riot_js/music-videos", :target => "_blank"} 
          %i.fa.fa-github.fa-lg
          &nbspRepo
      %p.live
        %a{:href => "http://drjorgepolanco.com/js_apps/music-videos/", :target => "_blank"} 
          %i.fa.fa-link.fa-lg
          &nbspLive
  .project.wow.bounceInDown
    .project-image
      %a{:href => "https://github.com/drjorgepolanco/mks/tree/master/ruby/task-manager", :target => "_blank"}
        %img{:src => "assets/images/photos/task-manager-square.jpg", :alt => "Task Manager"}/
    .project-button
      %h3 Project Manager
      %a.more{:href => "#"}
        More
    .project-info
      %span.cancel
        %i.fa.fa-times-circle.fa-lg
      %h2 Project Manager
      %h4 Project Management Ruby Gem
      %p Ruby, RSpec.
      %br/
      %p.repo
        %a{:href => "https://github.com/drjorgepolanco/mks/tree/master/ruby/task-manager", :target => "_blank"} 
          %i.fa.fa-github.fa-lg
          &nbspRepo
  .project.wow.bounceInRight
    .project-image
      %a{:href => "http://drjorgepolanco.com/js_apps/todo-project/", :target => "_blank"}
        %img{:src => "assets/images/photos/to-do-square.jpg", :alt => "To Do"}/
    .project-button
      %h3 Task Manager
      %a.more{:href => "#"}
        More
    .project-info
      %span.cancel
        %i.fa.fa-times-circle.fa-lg
      %h2 Task Manager
      %h4 To Do App
      %p JavaScript, Riot.js, jQuery, HTML5 & CSS3.
      %br/
      %p.repo
        %a{:href => "https://github.com/drjorgepolanco/mks/tree/master/immersive/javascript/riot_js/todo-project", :target => "_blank"} 
          %i.fa.fa-github.fa-lg
          &nbspRepo
      %p.live
        %a{:href => "http://drjorgepolanco.com/js_apps/todo-project/", :target => "_blank"} 
          %i.fa.fa-link.fa-lg
          &nbspLive
  .project.wow.bounceInLeft
    .project-image
      %a{:href => "http://drjorgepolanco.com/js_apps/bakery/", :target => "_blank"}
        %img{:src => "assets/images/photos/bakery-square.jpg", :alt => "The Bakery"}/
    .project-button
      %h3 The Bakery
      %a.more{:href => "#"}
        More
    .project-info
      %span.cancel
        %i.fa.fa-times-circle.fa-lg
      %h2 The Bakery
      %h4 Create your own Treats
      %p JavaScript, jQuery, HTML5 & CSS3.
      %br/
      %p.repo
        %a{:href => "https://github.com/drjorgepolanco/mks/tree/master/immersive/javascript/bakery", :target => "_blank"} 
          %i.fa.fa-github.fa-lg
          &nbspRepo
      %p.live
        %a{:href => "http://drjorgepolanco.com/js_apps/bakery/", :target => "_blank"} 
          %i.fa.fa-link.fa-lg
          &nbspLive
  .project.wow.bounceInDown
    .project-image
      %a{:href => "https://github.com/drjorgepolanco/mks/tree/master/ruby/library", :target => "_blank"}
        %img{:src => "assets/images/photos/library-square.jpg", :alt => "The Library"}/
    .project-button
      %h3 The Library
      %a.more{:href => "#"}
        More
    .project-info
      %span.cancel
        %i.fa.fa-times-circle.fa-lg
      %h2 The Library
      %h4 Books Manager for a Library
      %p Ruby, RSpec.
      %br/
      %p.repo
        %a{:href => "https://github.com/drjorgepolanco/mks/tree/master/ruby/library", :target => "_blank"} 
          %i.fa.fa-github.fa-lg
          &nbspRepo
  .project.wow.bounceInRight
    .project-image
      %a{:href => "http://drjorgepolanco.com/js_apps/guess-the-number-jquery.html", :target => "_blank"}
        %img{:src => "assets/images/photos/guess.jpg", :alt => "Guess The Number"}/
    .project-button
      %h3 Guess
      %a.more{:href => "#"}
        More
    .project-info
      %span.cancel
        %i.fa.fa-times-circle.fa-lg
      %h2 Guess
      %h4 Number Guessing Game
      %p JavaScript, jQuery, HTML5 & CSS3.
      %br/
      %p.repo
        %a{:href => "https://github.com/drjorgepolanco/mks/blob/master/immersive/javascript/guess-the-number-jquery.html", :target => "_blank"} 
          %i.fa.fa-github.fa-lg
          &nbspRepo
      %p.live
        %a{:href => "http://drjorgepolanco.com/js_apps/guess-the-number-jquery.html", :target => "_blank"} 
          %i.fa.fa-link.fa-lg
          &nbspLive