#skills-progress
  .skills-progress
    .progress-circle-container-1
      .progress-circle-outer-1.animate
      .progress-circle-inner-1
        %span.number-1 0
        %span.unit %
    .skills-titles
      %h4 Ruby, Rails, Wordpress, Joomla

  .skills-progress
    .progress-circle-container-2
      .progress-circle-outer-2.animate
      .progress-circle-inner-2
        %span.number-2 0
        %span.unit %
    .skills-titles
      %h4 JavaScript, jQuery, CoffeeScript

  .skills-progress
    .progress-circle-container-3
      .progress-circle-outer-3.animate
      .progress-circle-inner-3
        %span.number-3 0
        %span.unit %
    .skills-titles
      %h4 HTML5, Haml

  .skills-progress
    .progress-circle-container-4
      .progress-circle-outer-4.animate
      .progress-circle-inner-4
        %span.number-4 0
        %span.unit %
    .skills-titles
      %h4 CSS3, Sass