- photos = "assets/images/photos/"

.img-holder{"data-height" => "720", 
            "data-image" => "#{photos}big/dr-jorge-polanco-bg.jpg", 
            "data-image-mobile" => "#{photos}background/dr-jorge-polanco-bg-square.jpg", 
            "data-width" => "1280"}
  .parallax-section
    .header.c
      %h2
        %a.text{:href => "#"}
          Get it done
    .sub-header-container
      %h4.sub-header
        The world is filled with
        %br/
        great unimplemented ideas.
        %br/
        Let's stop this!
    .services
      .service
        %i.fa.fa-flask.fa-5x
        %h2 Discover
        %h3 Research
      .service
        %i.fa.fa-tint.fa-5x
        %h2 Design
        %h3 Prototype
      .service
        %i.fa.fa-code.fa-5x
        %h2 Develop
        %h3 Implement
      .service
        %i.fa.fa-rocket.fa-5x
        %h2 Launch         
        %h3 Iterate