.header.c
  %h2
    %a.text{:href => "#"}
      My Skills
.sub-header-container
  %h4.sub-header
    Object-Oriented Programming
    %br/
    Behavior & Test Driven Development
    %br/
    Responsive & Interactive Web Design 
#slick
  = partial "slick"
%hr/
#progress-circle
  = partial "progress-circle"