= partial "hero"

%main
  %section#about.section
    = partial "about"
  
  %section#services.section
    = partial "services"

  %section#skills.section
    = partial "skills"

  %section#quote.section
    / .img-holder{"data-image" => "assets/images/photos/bg-in-hawk.jpg", 
    /             "data-image-mobile" => "assets/images/photos/bg-in-hawk.jpg"}
  
  %section#experience.section


  %section#closing-image.section
    / .img-holder{"data-image" => "assets/images/photos/bg-in-hawk.jpg", 
    /             "data-image-mobile" => "assets/images/photos/bg-in-hawk.jpg"}

  %section#contact.section